<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Billing</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<form id="nonseamless" method="post" name="redirect"
      action="https://test.ccavenue.com/transaction.do?command=initiateTransaction">
    <input type="hidden" id="encRequest" name="encRequest" th:value="${encRequest}">
    <input type="hidden" name="access_code" id="access_code" th:value="${accessCode}">
    <script th:inline="javascript">
            /*<![CDATA[*/
            document.redirect.submit();
            /*]]>*/
        </script>
</form>
</body>
</html>
